/**
 * @name twiilight branches.
 * @version 1.0
 * @description A translucent/twilight tree Discord theme.
 * @author zwroe
 * @website https://github.com/zwroee/Twilight-Branches/tree/main
 * @source https://github.com/zwroee/Twilight-Branches/blob/main/TwilightBranches.theme.css
*/

@import url('https://raw.githubusercontent.com/zwroee/Twilight-Branches/refs/heads/main/source.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --app-bg: url('https://i.imgur.com/sx5L6oT.png');
  --app-blur: 3px;
  --app-margin: 24px;
  --app-radius: 8px;
  --accent-hue: 0;
  --accent-saturation: 0%;
  --accent-lightness: 25%;
  --accent-opacity: 1;
  --sidebar-color: rgba(0,0,0,0.4);
  --main-content-color: rgba(0,0,0,0.2);
  --undefined: 0;
  --interactive-normal: #FFFFFF;
  --interactive-hover: #ddd;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --undefined: 0;
  --background-modifier-hover: rgba(255,255,255,0.075);
  --background-modifier-selected: rgba(255,255,255,0.125);
  --message-color: rgb(14,14,14,0.4);
  --message-radius: 10px;
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --undefined: 0;
  --reply-hue: 0;
  --reply-saturation: 0%;
  --reply-lightness: 0%;
  --reply-opacity: 0;
  --textarea-color: 255,255,255;
  --textarea-alpha: 0.15;
  --textarea-alpha-focus: 0.15;
  --textarea-radius: 22px;
  --card-color: rgb(45,45,45,0.4);
  --card-color-hover: rgb(0,0,0,0.5);
  --card-color-select: rgb(0,0,0,0.7);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-radius: 16px;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


